@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.buttonStyling {
  border: 0;
  border: 2px solid #2a2c36;
  border-radius: 7px;
  background: transparent;
  color: $white;
  font-size: 20px;
  padding: 0.6rem 1rem;

  &.bottomBtn {
    margin-bottom: 4rem;
  }

  &.recipeIcon {
    margin-left: 1rem;
    background: $black;

    &:last-of-type {
      margin-right: 1rem;
    }
  }
}
