@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.cardStyling {
  @include m.flexBox(column, center, center, 0rem);
  color: $white;

  &.commentCard {
    flex-direction: row;

    header {
      img {
        width: 43vw;
        border: 2px solid #2a2c36;
        border-right: 0;
      }
    }

    figcaption {
      min-width: 40%;
      height: 25vh;
      max-height: 25vh;
      min-height: 25vh;
      border: 2px solid #2a2c36;
      border-left: 0;

      h3,
      h4 {
        margin: 0;
      }

      h4 {
        text-align: center;
      }
    }
  }

  header {
    img {
      width: 78vw;
      border-radius: 7px;
      border: 2px solid #2a2c36;
      border-bottom: 0;
      display: block;
    }
  }

  figcaption {
    @include m.flexBox(column, center, center, 0.5rem);
    border-radius: 7px;
    border: 2px solid #2a2c36;
    border-top: 0;
    padding: 0rem 1rem;
    min-width: 88%;

    header {
      width: 100%;
      text-align: center;
      .timeStyling {
        @include m.flexBox(row, center, center, 0.5rem);
      }
    }

    .infoContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0rem 1rem;
    }
  }
}

.editContainer {
  @include m.flexBox(row, flex-end, center, 1rem);
  margin-top: -2rem;

  a {
    color: $cyan;
    text-decoration: none;

    p {
      color: $purple;
    }
  }
  p {
    margin: 0;
    color: $orange;
  }
}
