@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.wrapperStyling {
  @include m.flexBox(column, center, center);

  .headerStyling {
    h2 {
      margin: 0;
    }

    &.leftHeader {
      align-self: flex-start;
      padding-left: 1rem;
    }
  }

  &.listingWrapper {
    @include m.flexBox(column, center, flex-start);
    padding-left: 1rem;
  }

  &.cardWrapper {
    margin-bottom: 4rem;
    position: relative;
  }

  &.userRecipes {
    margin-bottom: 10rem;
  }

  &.mTopWrapper {
    margin-top: 2rem;
  }

  &.mBottomWrapper {
    margin-bottom: 3rem;
    gap: 0.2rem;
  }
}
