.greetingsStyling {
  padding-left: 1rem;
  h1 {
    margin-bottom: 0rem;
  }

  h4 {
    margin-top: 0.2rem;
  }

  .userContainer {
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }
}
