@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

nav {
  background: $gray;
  width: 95%;
  border-radius: 12px;

  .navStyling {
    @include m.flexBox(row, center, center, 1.5rem);
    margin: 0;
    padding: 0;
    padding: 0.5rem 0rem;

    .leftContainer,
    .rightContainer {
      @include m.flexBox(row, center, center, 1rem);

      .iconStyling {
        svg {
          width: 6vw;
          color: $white;
        }
      }
    }

    li {
      list-style: none;

      a {
        text-decoration: none;

        .iconStyling {
          @include m.flexBox(column, space-evenly, center, 0.5rem);
          color: $white;

          svg {
            display: block;
            width: 8vw;
            height: 60%;
            color: $purple;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
